<div class="post-info">
    Written by {{user.username}} on {{created_at}} 
    &bull; 
    <a href="/post/{{id}}#comments">{{comments.length}} comments</a>
</div>
<div class="post-content">
    {{content}}
</div>