<div class="info">
    Written by <b>{{user.username}}</b> on {{created_at}} 
    &bull; 
    <a href="/post/{{id}}#comments">{{comments.length}} comments</a>
</div>
<div class="content">
    {{content}}
</div>